<div class="movie-details-wrapper">
	<h3>Anime Details</h3>

	<div class="wrapper" *ngIf="!loading">
		<p> {{anime.title_japanese}} </p>
		<p>{{anime.title}}</p> 
		<iframe [src]="'https://youtube.com/embed/' + anime?.trailer?.youtube_id | safe"  frameborder="0" allowfullscreen></iframe>
		<p><span>Rank</span>: {{anime.rank}}</p>
		<p><span>Rating</span>: {{anime.rating}}</p>
		<p><span>Status</span>: {{anime.status}}</p>
		<p>
			<span>Synopsis: </span> 
			{{anime.synopsis}}
		</p>
	</div>
	<div class="loading" *ngIf="loading">
		<img src="./assets/images/loading.gif">	
		<p>loading...</p>
	</div>
</div>
