<div class="main-wrapper">
	<div class="list-of-movies-wrapper">
		<h3>
			<i class="fa-solid fa-list-ul"></i>	
			List of Animes
		</h3>	
		<ul>
			<li *ngFor="let anime of animes.data" (click)="setAnimeDetails(anime.mal_id)" [ngClass]="{active: anime.mal_id === active_idx}">
				<div class="anime-slight-info">
					<img src="{{anime.images.webp.small_image_url}}" alt="{{anime.title}}">
					<div>
						<h3>{{anime.title_japanese}}</h3>
						<p>Title: {{anime.title}}</p>
						<p>Rating: {{anime.rating}}</p>
						<p>Status: {{anime.status}}</p>
					</div>
				</div>

				<span>click to view details</span>
			</li>
		</ul>
	</div>
	<app-movie-details [anime]="anime" [loading]="loading"></app-movie-details>
</div>